html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
@font-face {
font-family: helv;
src:url(fonts/HelveticaNeueW23-Bd.ttf);
src: url(fonts/HelveticaNeueW23-Bd.eot?) format(eot), url(fonts/HelveticaNeueW23-Bd.otf) format(opentype), url(fonts/HelveticaNeueW23-Bd.ttf) format(truetype);
} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
h1, h2, h3 {
	text-transform:capitalize;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
input, textarea {
	outline:none;
}
body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #003e70;
	direction: rtl;
	background-color: #320b28;
	background-attachment: fixed;
	background-image: url(images/wood_1.png);
	background-repeat: repeat;
	background-position: right 36px;
}
/*Start Code*/

/* Top Header */
#top-header-bg {
	  z-index: 9999;
	background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
width:100%;
background-attachment:fixed;
background-position:top;
height:35px;
border-bottom:1px solid #fff;
position:fixed;
}
#top-header {
	width:1000px;
	margin:0 auto;
}
#top-header ul{
	list-style:none;
	display:inline-block;
	float:right;
	margin-right:10px;
}
#top-header .fav{
	background-image: url(images/fav.png);
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	display:block;
	margin: 2px 0 0 5px;
}
#top-header .fav a{
	display:block;
	width:100%;
	height:100%;
}
#top-header .fav a:hover{
	background:none;
}
#top-header ul li{
	float:right;
	display:block;
}
#top-header ul li a {
    color: #FFFFFF;
    font: 16px/35px helv,tahoma;
    text-decoration: none;
	padding:0 10px;
	display:block;
    text-shadow: 0 1px 0 #027BA0;
	-webkit-transition:all 0.4s ease 0s;
	-moz-transition:all 0.4s ease 0s;
	-ms-transition:all 0.4s ease 0s;
	-o-transition:all 0.4s ease 0s;
	transition:all 0.4s ease 0s;
}
#top-header ul li a:hover{
	color: #03556e;
	background-color:#fff;
    text-shadow:none;
}
#top-header-date {
    background: #e2e4df; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTRkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e2e4df 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e4df), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2e4df 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2e4df 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2e4df 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2e4df 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e4df', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    border-radius: 2px 2px 2px 2px;
    color: #000;
    display: inline-block;
    float: left;
    font: 14px helv;
    margin: 4px 0 0 10px;
    overflow: hidden;
    padding: 2px 10px 0;
}
/* Top Header */

/* Header */
#header {
    height: 100px;
    margin: 0 auto;
    padding: 45px 0 0;
    width: 1000px;
}
#logo {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	float: left;
	height: 65px;
	width: 218px;
	margin:20px 0 0 10px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#logo:hover{
	-moz-transform: scale(1.1));
   -webkit-transform: scale(1.1);
   -o-transform: scale(1.1);
   transform: scale(1.1);
   -ms-transform: scale(1.1);
filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
   M11=1, M12=-0, M21=0, M22=1);
}
#login {
	float:right;
	margin-right:0;
	width:487px;
	height:100px;
	border:1px solid #141618;
	border-radius: 10px 10px 10px 10px;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 99%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */

}
#login .name {
    background-attachment: scroll;
    background-image: url(images/user.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    border: medium none;
    color: #FFFFFF;
    direction: rtl;
    float: right;
    font: 15px helv,tahoma;
    height: 38px;
    margin: 10px 5px 0 0;
    text-align: center;
    text-indent: 34px;
    text-shadow: 0 1px 0 #1E2327;
    width: 230px;
}
#login .pass {
	background-attachment: scroll;
	background-position: 0 0;
	background-repeat: repeat;
	border: medium none;
	color: #fff;
	text-shadow:0 1px 0 #1e2327;
	direction: rtl;
	float: right;
	font: 15px helv,tahoma;
	height: 38px;
	margin: 10px 5px 0 0;
	text-align: center;
    text-indent: 34px;
	width: 230px;
	background-image: url(images/pass.jpg);
}
#login .button {
    background: #62666a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyNjY2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzQ5NGM0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #62666a 0%, #494c4e 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62666a), color-stop(99%,#494c4e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #62666a 0%,#494c4e 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #62666a 0%,#494c4e 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #62666a 0%,#494c4e 99%); /* IE10+ */
background: linear-gradient(to bottom,  #62666a 0%,#494c4e 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62666a', endColorstr='#494c4e',GradientType=0 ); /* IE6-8 */
   border: 1px solid #272D35;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font: 14px helv,tahoma;
    height: 33px;
    margin: 10px 0 0 18px;
    padding: 0 10px;
    text-shadow: 0 1px 0 #161D22;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#login .button:hover {
    background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
    border: 1px solid #fff;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #027BA0;
}
#login .tex {
    color: #000000;
    float: right;
    font: 20px helv,tahoma;
    margin: 10px 10px 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
}
/* Header */

/* Content */
#content {
	background: #e8e8e8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 50%); /* IE10+ */
background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	width:1000px;
	margin:20px auto 0 auto;
	border:1px solid #2a3038;
	border-radius:10px;
}
#lastnews {
    border-radius: 10px 10px 0 0;
    height: 30px;
    width: 1000px;
}

#lastnews .tit {
    background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
    border-radius: 0 10px 0 0;
    color: #FFFFFF;
    display: block;
    float: right;
    font: 16px/30px helv,tahoma;
    height: 30px;
    padding: 0 15px;
	text-shadow: 0 1px 0 #027BA0;
}
#lastnews marquee {
	background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
    border-radius: 10px 0 0 0;
    border-right: 1px solid #4EB6E2;
    color: #FFFFFF;
    float: left;
    font: 14px/30px helv,tahoma;
    height: 30px;
    text-shadow: 0 1px 0 #027BA0;
    width: 881px;
	border:none;
}
#rounded-corner {
    border-collapse: collapse;
    margin: 0;
    text-align: center;
    width: 850px;
}
#rounded-corner thead th.rounded-company {
    background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
border-radius:0 10px 0 0;
color:#fff;
text-shadow:0 1px 0 #027BA0;
}
#rounded-corner thead th.rounded-q4 {
    background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
border-radius:10px 0 0 0;
color:#fff;
text-shadow:0 1px 0 #027BA0;
}
#rounded-corner th {
    color: #003399;
    font: 16px helv,tahoma;
    padding: 5px;
}
.plan-1 {
	background-color:#F6B314 !important;
	color:#fff !important;
	font:15px helv,tahoma;
}
.plan-2 {
	background-color:#ABC441 !important;
	color:#fff !important;
	font:15px helv,tahoma;
}
.plan-3 {
	background-color:#54C0EB !important;
	color:#fff !important;
	font:15px helv,tahoma;
}
.plan-4 {
	background-color:#F86858 !important;
	color:#fff !important;
	font:15px helv,tahoma;
}
#rounded-corner th {
    background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
color:#fff;
text-shadow:0 1px 0 #027BA0;
    padding: 5px;
}
#rounded-corner td {
    background: none repeat scroll 0 0 #ECF8FD;
    border-top: 1px solid #FFFFFF;
    color: #666699;
    padding: 2px 0;
	direction: ltr;
}
.warning_box {
    background: url(images/warning.png) no-repeat scroll 800px 10px #FCFAE9;
    border: 1px solid #E9E6C7;
    clear: both;
    font: bold 11pt arial;
    margin: 15px 0 10px;
    padding: 20px 60px 15px 20px;
    width: 768px;
}
.valid_box {
    background: url(images/valid.png) no-repeat scroll 800px 10px #EDFCE9;
    border: 1px solid #CCEAC4;
    clear: both;
    font: bold 11pt arial;
    margin: 0 0 10px;
    padding: 20px 60px 15px 20px;
    width: 768px;
}
.error_box {
    background: url(images/error.png) no-repeat scroll 800px 10px #FCE9E9;
    border: 1px solid #EAC7C7;
    clear: both;
    margin: 0 0 20px 10px;
    padding: 20px 60px 15px 20px;
	font: bold 11pt arial;
    width: 768px;
}
#about {
    font: 14px helv;
    padding: 20px;
}
#contact {
	background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
    border-radius: 10px 10px 0 0;
    color: #FFFFFF;
    font: 20px helv;
    text-align: center;
    text-shadow: 0 1px 0 #027BA0;
	border-bottom:1px solid #fff;
}
.l-wrap {
    margin: 0 auto;
    width: 960px;
}
.hotsite span {
    display: inline-block;
    letter-spacing: normal;
    margin: 0 4px 6px;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    width: 110px;
    word-spacing: normal;
}

.hotsite a {
    color: #000000;
    display: block;
    float: left;
    line-height: 28px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
	  text-decoration: none;
	  -webkit-transition: all .2s ease-out;
   -moz-transition: all .2s ease-out;
   -o-transition: all .2s ease-out;
   transition: all .2s ease-out;
}
.hotsite a:hover {
	-moz-transform: scale(1.2));
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
   transform: scale(1.2);
   -ms-transform: scale(1.2);
filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
   M11=1, M12=-0, M21=0, M22=1);
}
.hotsite i {
    display: block;
    height: 48px;
    margin: 0 auto;
    width: 48px;
}
.unselect, i, .i, .icon {
    -moz-user-select: none;
}
.l-wrap {
    margin: 0 auto;
    width: 960px;
}
.s-mbm, .s-mvm, .s-mam {
    margin-bottom: 10px !important;
}

.s-mbm, .s-mvm, .s-mam {
    margin-bottom: 10px !important;
}

.l-g:before, .l-g:after {
    content: "";
    display: table;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.l-g:after {
    clear: both;
}
.l-g:before, .l-g:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
[class*="l-g"]:first-child {
    margin-right: 0;
}
[class*="l-g"]:first-child {
    margin-left: 0;
}
.l-g {
    width: 100%;
}

[class*="l-g"]:first-child {
    margin-right: 0;
}
[class*="l-g"]:first-child {
    margin-left: 0;
}
.l-g1-1, .l-g1-2, .l-g1-3, .l-g2-3, .l-g3-3, .l-g1-4, .l-g2-4, .l-g3-4, .l-g4-5, .l-g1-5, .l-g2-5, .l-g3-5, .l-g4-5, .l-g1-8, .l-g3-8, .l-g5-8, .l-g7-8 {
    float: right;
}
.l-g3-4 {
    width: 100%;
}

.l-ff, .l-g0 {
    overflow: hidden;
}

.charts_menu, .charts_menu a, .hotsite-custom_list .add-btn, .mod-mail dd, .mod-news .bottom-mask, .news-tab .nav-item, .sortsite dt, .sortsites-tabs, ul.block_sep, .astro-tab li {
    background-image: url(img/index_css_rtl_x01670bb8.png);
}

.sortsite dt a {
    color: #049DCD;
    font-weight: 600;
    padding-right: 10px;
    text-indent: 0;
	text-decoration:none;
}
.sortsite a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-decoration:none;
}

.sortsite dt .more-content {
    color: #3DC094;
    float: left;
    font-weight: 400;
    margin-left: 10px;
}
.sortsite dt .more-content {
    color: #049DCD;
    float: left;
    font-weight: 400;
    margin-left: 10px;
}
.sortsite dt {
    border-bottom: 1px solid #EDEFF0;
    color: #23C098;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
}
.s-mbs, .s-mvs, .s-mas {
    margin-bottom: 5px !important;
}
.box-sort {
    margin: 0 10px 20px 0;
    overflow: hidden;
}
[class*="l-g"]:first-child {
    margin-right: 0;
}
[class*="l-g"]:first-child {
    margin-left: 0;
}
.l-g1-1, .l-g1-2, .l-g1-3, .l-g2-3, .l-g3-3, .l-g1-4, .l-g2-4, .l-g3-4, .l-g4-5, .l-g1-5, .l-g2-5, .l-g3-5, .l-g4-5, .l-g1-8, .l-g3-8, .l-g5-8, .l-g7-8 {
    float: right;
}
.l-g1-4 {
    width: 25%;
}

.sortsite {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FAFCFC;
    border-color: #E3E5E6 #E3E5E6 #DCDDDE;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    white-space: nowrap;
}
.s-mlm, .s-mhm, .s-mam {
    margin-left: 10px !important;
}
.s-mtm, .s-mvm, .s-mam {
    margin-top: 10px !important;
}
.s-pbs, .s-pvs, .s-pas {
    padding-bottom: 5px !important;
}
.s-mlm, .s-mhm, .s-mam {
    margin-left: 10px !important;
}
.s-mtm, .s-mvm, .s-mam {
    margin-top: 10px !important;
}
.s-pbs, .s-pvs, .s-pas {
    padding-bottom: 5px !important;
}

.s-mbs, .s-mvs, .s-mas {
    margin-bottom: 5px !important;
}
.s-mbs, .s-mvs, .s-mas {
    margin-bottom: 5px !important;
}

.sortsite dd {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    overflow: hidden;
}

.sortsite dd a, .mod-side a, .box-bot a {
    color: #595959;
}
.sortsite a {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sortsite dt .arrow_r {
    cursor: pointer;
    font-family: Tahoma;
    font-size: 24px;
    font-style: normal;
    left: 8px;
    line-height: 1;
    position: absolute;
    top: 2px;
}
address, caption, cite, code, dfn, em, i, th, var {
    font-weight: normal;
}

.sortsite dt {
    color: #23C098;
    font-size: 14px;
    line-height: 30px;
}
.sortsite {
    white-space: nowrap;
}

.sortsite dd a {
    display: block;
	 padding: 4px 0 5px;
    overflow: hidden;
    text-indent: 5px;
    width: 100%;
font:15px tahoma;
	 text-decoration: none;
	 -webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.i-ar-friv {
    background-position: -245px -49px;
}
.i-hot-sprites {
    background-image: url(img/i-hot-sprites.png);
}
.i-ar-movieicon {
    background-position: -98px -49px;
}
.i-hot-sprites {
    background-image: url(img/i-hot-sprites.png);
}
.i-ar-tupian {
    background-position: -147px -98px;
}
.i-hot-sprites {
    background-image: url(img/i-hot-sprites.png);
}
.sortsite dd a, .mod-side a, .box-bot a {
    color: #2D2D2D;
}
.sortsite a {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sortsite dd a:hover {
    background: none repeat scroll 0 0 #E8EAEB;
    border-right: 3px solid #049DCD;
	color:#049DCD;
    padding-right: 10px;
}
#clear {
	clear:both;
}
.no-hover a:hover {
    text-decoration: none;
}





.l-g:before, .l-g:after {
    content: "";
    display: table;
}
.l-g:after {
    clear: both;
}
.l-g:before, .l-g:after {
    content: "";
    display: table;
}
.toolbar-v {
    background: none repeat scroll 0 0 #F5F7F7;
    height: 280px;
    overflow: hidden;
}
.box-border {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E3E5E6 #E3E5E6 #D7D8D9;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.l-g {
    float: right;
    margin: 10px 0 0;
    width: 98.7%;
}

[class*="l-g"]:first-child {
    margin-right: 0;
}
[class*="l-g"]:first-child {
    margin-left: 0;
}
.l-g1-1, .l-g1-2, .l-g1-3, .l-g2-3, .l-g3-3, .l-g1-4, .l-g2-4, .l-g3-4, .l-g4-5, .l-g1-5, .l-g2-5, .l-g3-5, .l-g4-5, .l-g1-8, .l-g3-8, .l-g5-8, .l-g7-8 {
    float: right;
}
.l-g1-4 {
    width: 25%;
}

.toolbar-v-rtl .toolbar_menu {
    padding-right: 5px;
}
.toolbar-v .toolbar_menu, .toolbar-v .toolbar_menu a {
    cursor: pointer;
    display: inline-block;
    padding-left: 3px;
}
.box-bot .t {
    font-size: 14px;
    font-weight: 600;
}
.toolbar-v .box-bot {
    line-height: 28px;
    padding: 0;
}

.toolbar-v .toolbar_menu a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.toolbar-v .toolbar_menu, .toolbar-v .toolbar_menu a {
    cursor: pointer;
    display: inline-block;
    padding-left: 3px;
	text-decoration:none;
}

.box-bot .t a {
    color: #5A5A5A;
}

.toolbar-v-rtl .i-toolbar {
    float: right;
    margin: 3px 0 3px 5px;
    text-indent: 2px;
}
.toolbar-v .i-toolbar {
    display: inline-block;
    height: 16px;
    width: 16px;
}
.toolbar-v .box-bot a {
    display: block;
    height: 23px;
    overflow: hidden;
    padding: 5px 0;
	font:14px/25px tahoma;
	text-decoration:none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.box-bot a {
    color: #595959;
    line-height: 22px;
    vertical-align: baseline;
}
.toolbar-v-rtl dd {
    padding-left: 0;
    padding-right: 5px;
}

.toolbar-v-rtl .i-toolbar {
    float: right;
    margin: 3px 0 3px 5px;
    text-indent: 2px;
}
.toolbar-v .i-toolbar {
    display: inline-block;
    height: 16px;
    width: 16px;
}
.i-toolbar, .i-toolbar-0, .i-toolbar-1, .i-toolbar-2, .mod-magicbox .cycletabs .ui-nav .ctrl, .mod-magicbox .cycletabs .nav-item_astro, .mod-magicbox .cycletabs .nav-item_astro.nav-item-current, .mod-magicbox .cycletabs .nav-item_speedTest, .mod-magicbox .cycletabs .nav-item_speedTest.nav-item-current, .mod-magicbox .cycletabs .nav-item_charts, .mod-magicbox .cycletabs .nav-item_charts.nav-item-current, .mod-magicbox .cycletabs .nav-item_lottery, .mod-magicbox .cycletabs .nav-item_lottery.nav-item-current, .mod-magicbox .cycletabs .nav-item_pray, .mod-magicbox .cycletabs .nav-item_pray.nav-item-current, .mod-magicbox .cycletabs .nav-item_bus, .mod-magicbox .cycletabs .nav-item_bus.nav-item-current, .mod-magicbox .cycletabs .nav-item_translate, .mod-magicbox .cycletabs .nav-item_translate.nav-item-current, .mod-magicbox .cycletabs .nav-item_gold, .mod-magicbox .cycletabs .nav-item_gold.nav-item-current, .mod-magicbox .cycletabs .nav-item_score, .mod-magicbox .cycletabs .nav-item_score.nav-item-current, .mod-magicbox .cycletabs .nav-item_tvlive, .mod-magicbox .cycletabs .nav-item_tvlive.nav-item-current, .mod-magicbox .cycletabs .nav-item_football, .mod-magicbox .cycletabs .nav-item_football.nav-item-current, .panel-title .refresh, .panel-title .lock, .panel-title .locked, .panel-title .close, .mod-anchorbar .player-img, .mod-anchorbar .astro-img, .mod-anchorbar .bus-img, .mod-anchorbar .football-img, .mod-anchorbar .game-img, .mod-anchorbar .gold-img, .mod-anchorbar .image-img, .mod-anchorbar .lottery-img, .mod-anchorbar .news-img, .mod-anchorbar .speedtest-img, .mod-anchorbar .translate-img, .mod-anchorbar .video-img, .mod-anchorbar .hotvideo-img, .mod-anchorbar .videomusic-img, .mod-anchorbar .music-img, .mod-anchorbar .videogame-img, .mod-anchorbar .anchor-nav .arrow-prev, .mod-anchorbar .anchor-nav .arrow-next {
    background-image: url(img/index_css_common_zbaa05235.png);
	background-position: -64px 19px;
}
.i-toolbar {
    color: #FFFFFF;
    font: 10px/17px Tahoma;
    overflow: hidden;
    text-align: center;
}
.box-bot a:hover {
    background-color: #fff;
    border-radius: 2px 2px 2px 2px;
	padding:5px 10px 5px 0;
}

.login:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px 4px 4px 4px;
    bottom: -8px;
    content: "";
    left: -8px;
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: -1;
}
.login {
    background: none repeat scroll 0 0 white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 310px;
}
.login p:first-child {
    margin-top: 0;
}
.login p {
    margin: 20px 0 0;
}
.login p.submit {
    text-align: right;
}
.tabula {
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border-color: #C1C1C1;
    border-width: 1px;
    font-family: verdana;
    font-size: 11px;
}
/* Content */

/* Footer */
#footer {
	color:#fff;
	font:17px helv,tahoma;
	text-align:center;
	widows:1000px;
	margin:10px auto 0 auto;
}
